<% unless user_signed_in? %>
	<div class="hero-unit">
		<h1>Welcome To<img src="\system\BeFunky_Tribune cover.jpg.jpg"></h1>


		<p>
			You found the home page for the
			<%= link_to "one month rails", "http://onemonthrails.com" %>
			application.
		</p>
		<p>
		<%= link_to "sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</P>	
	</div>
<% end %>