<% unless user_signed_in? %>
	<div class="hero-unit">
		<h1><center>Welcome To<img src="http://i1287.photobucket.com/albums/a640/golfman14/BeFunky_Tribunecoverjpg_zps43c08452.jpg"></center></h1>


		<p>
			<center><strong>Giving The Local Business A Taste Of Fame</strong></center>
			
			
		</p>
		<p>
		<center><%= link_to "sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %></center>
		</P>	
	</div>
<% end %>