<h1>About</h1>
<p>
	We give the Twin Cities local small business a front cover magazine showcasing their business and highlighting what makes them unique
	With each business you will see the behind the scenes look of who they are and what they do through pictures.
	Pictures will include the people, place, services, products, promos, customers and much more.</p>